
    
    <main>
        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!-- <div class="error-container">
            <p>Error</p>
        </div> -->

        <section class="featured-product">
            <h2>Your destination for luxurious, skin-loving cosmetics crafted with care</h2>
            <h2>Discover Our Collection</h2>
            <div class="products">

                {{#each data}}
                <article class="product">
                    <img src="{{image}}">
                    <h3>{{name}}</h3>
                    <p>Suitable for: {{description}}</p>
                    <a href="/cosmetic/details/{{_id}}">Read More</a>
                </article>
                {{else}}
                </article>
                <p class="no-post">There are no products found yet!</p>  
                {{/each}}
            </div>
        </section>
    </main>
    
    
    
     <div style=
        "background-color: aquamarine; 
        max-width: 500px; 
        display: flex; 
        border: 3px solid black;
        margin: 120px;">


      {{>card}}

    </div>

    <div style=
        "background-color: aquamarine; 
        max-width: 500px; 
        display: flex; 
        border: 3px solid black;
        margin: 120px;">

     <h1> Basic homepage</h1>

    </div>


