
    <section class="catalog-hero">
        <div class="container">
            <h2>Product Catalog</h2>
            <p>Explore our extensive range of laptops, desktops, and accessories.</p>
        </div>
    </section>

   

    <section class="catalog">
        <div class="container">
            
            <div class="product-grid">
             {{#each devices}}
                <div class="product-item">
                    <img
                        src="https://s13emagst.akamaized.net/products/64569/64568941/images/res_ac4397f66b6bf611b6fc061c57ca43c4.jpg?width=720&height=720&hash=598B793C3197B9217276CB79C2937E80">
                    <h3>{{brand}} {{model}}</h3>
                    <h2>${{price}}</h2>
                    <p>CPU: {{cpu}}</p>
                    <p>GPU: {{gpu}}</p>
                    <p>Screen: {{screenSize}}</p>
                    <a href="/devices/details/{{id}}" class="btn">View Details</a>
                </div>
            {{else}}
                
                <!-- Repeat product-item divs for more products -->
                <p class="no-post">There haven't been any devices posted yet.</p>
            {{/each}}
            </div>
        </div>
    </section>
 