<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GlowAlchemy{{#if title}} {{title}} {{/if}} </title>
     <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    {{#if user}}
    {{user.username}}

    {{/if}}


    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Add Product</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>

    <header>
    <nav>

        <ul>
        <li> <a href="/">Home</li>
        <li><a href="/main">Not home</a></li>
        {{#if isAuthenticated}}
         <li><a href="/logout">logout</a></li>
        {{else}}
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
             {{/if}}
            
       
       

        </ul>
    </nav>    
    </header>
        {{error}}
        {{{body}}}
    
    </main>
    <footer>
        <p>&copy; 2024 GlowAlchemy. All rights reserved.</p>
    </footer>
</body>

</html>