
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}} {{title}} {{else}} TechStore - Laptops and Computers {{/if}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    

    {{#if user}}
    {{user.username}}

    {{/if}}

<body>
    <header>
        <div class="container">
            <h1>TechStore</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Catalog</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Create Offer</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {{#if error}}
        <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}


    <nav>

        <ul>
        <li> <a href="/">Home</li>
        <li><a href="/main">Not home</a></li>
        {{#if isAuthenticated}}
         <li><a href="/logout">logout</a></li>
        {{else}}
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
             {{/if}}
            
       
       

        </ul>
    </nav>
        {{error}}
        {{{body}}}


    
</body>


    <footer>
        <div class="container">
            <p>&copy; 2024 TechStore. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>